<%- include ("../../layouts/main") %>

  <main>
    <ul class="list-group">
      <% users.forEach(user=> { %>
        <li class="list-group-item">
          <%- user.name %> - <%- user.email %>
        </li>
      <% }) %>
    </ul>
  </main>

  <%- include ("../../layouts/footer") %>